@font-face {
  font-family: "Brisa Regular";
  src: url("./fonts/Brisa\ Regular.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://res.cloudinary.com/dmatgvjjy/image/upload/v1678233148/Seasinglab/fondoBody_nhecjy.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* a links styles*/
a {
  text-decoration: none;
  color: black;
}

a:hover {
  transition: all 1s ease;
  color: rgba(103, 225, 255, 0.9);
}

/* navbar styles */
.nav-styles {
  background-color: transparent;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.71);
}

@media (max-width: 600px) {
  #basic-navbar-nav {
    height: 100vh;
    overflow: hidden;
    transition: all 3s ease-in-out;
    background-color: #010101;
  }
}

.nav-links {
  font-size: large;
  color: white;
}

.nav-links :hover {
  color: rgba(103, 225, 255, 0.9);
  transition: all 1.5s ease;
}

#basic-nav-dropdown {
  color: white;
}

/* Main styles */
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    url("https://res.cloudinary.com/dmatgvjjy/image/upload/v1677523041/Seasinglab/lab_1_ykolrc.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  z-index: 1000;
}

.seasing-title {
  font-family: "Brisa Regular";
  font-size: 5rem;
  font-weight: 500;
}

.seasing-title h1 {
  line-height: 53px;
}

.background-title {
  background-color: rgb(3, 115, 144, 0.9);
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  padding-top: 0.5rem;
  color: white;
}

.btn-hero {
  padding: 1rem 1rem;
  background-color: rgb(0, 153, 185);
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.btn-hero:hover {
  background-color: rgb(3, 115, 144);
  color: lightgray;
}

.anchor-hero {
  text-decoration: none;
  color: #ffffff;
}

.anchor-hero:hover {
  text-decoration: none;
  color: #ffffff;
}

/* about us */
.us {
  height: 100vh;
  margin-top: 10rem;
}

@media only screen and (max-width: 768px) {
  .us {
    height: 100vh;
    margin-top: 10rem;
  }
}

.conteiner-animation {
  perspective: 800px;
}

.flask {
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
}

.flask:hover {
  transform: rotateY(45deg);
}

.paragraph-us {
  font-family: "Roboto";
  font-size: 1.125rem;
  line-height: 1.5em;
}

/* clients carousel styles */

/* Form */

.formulario {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

form {
  width: 50%;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .formulario {
    margin-top: 13rem;
  }
  form {
    width: 80%;
  }
}

/* Footer styles */

footer {
  height: 20rem;
  background-color: #d9d9d9;
  margin-top: 2rem;
}

@media only screen and (max-width: 768px) {
  footer {
    height: 36rem;
    margin-top: 10rem;
  }
}

.footer-styles {
  margin-top: 6rem;
  font-size: 1.5rem;
}

.footer-icons-styles {
  width: 30px;
  height: 30px;
  margin-top: 6rem;
  margin-right: 0.5rem;
}

@media (min-width: 1000px) {
  .footer-general {
    display: flex;
    justify-content: center;
  }
}

.footer-general {
  display: flex;
}

.btn-wpp {
  border-radius: 50%;
  background-color: green;
  padding: 1rem;
  position: fixed;
  right: 1.2rem;
  bottom: 3rem;
  z-index: 2000;
  transition: all 1s ease-in-out;
}

.btn-animation:hover {
  transform: scale(1.2);
  background-color: rgb(0, 153, 185);
}

/* back to top btn styles */
.back-to-top-btn {
  position: fixed;
  bottom: 10rem;
  right: 2.6rem;
  border: none;
  background-color: transparent;
  color: #010101;
  width: 40px;
  height: 40px;
}

/* copyright */
.copyright {
  background-color: transparent;
  color: #030303;
  font-size: 1rem;
  margin-bottom: 0px;
  padding: 0.3rem;
  width: 100%;
  margin-top: 7rem;
}

@media only screen and (max-width: 768px) {
  .copyright {
    margin-top: 3.5rem;
  }
}
