body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* a links styles*/
a {
  text-decoration: none;
  color: black;
}
a:hover {
  transition: all 1s ease;
}

/* navbar styles */
.nav-styles {
  /* background-color: rgba(0, 153, 185, 255); */
  background-color: transparent;
  position: absolute;
}

@media (max-width: 600px) {
  #basic-navbar-nav {
    height: 100vh;
    overflow: hidden;
    transition: all 3s ease-in-out;
  }
}

.nav-links {
  font-size: large;
  color: white;
}
.nav-links :hover {
  color: black;
  transition: all 1.5s ease;
}
#basic-nav-dropdown {
  color: white;
}

/* Footer styles */

footer {
  height: 15rem;
  background-color: grey;
  margin-top: 2rem;
}
@media only screen and (max-width: 768px) {
  footer {
    height: 26rem;
  }
}
.footer-styles {
  margin-top: 6rem;
}
.footer-icons-styles {
  width: 30px;
  height: 30px;
  margin-top: 5.9rem;
  margin-right: 0.5rem;
}
@media (min-width: 1000px) {
  .footer-general {
    display: flex;
    justify-content: center;
  }
}
.footer-general {
  display: flex;
}

/* Main styles */
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    url("https://res.cloudinary.com/dmatgvjjy/image/upload/v1677523041/Seasinglab/lab_1_ykolrc.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  z-index: 1000;
}

.btn-hero {
  padding: 1rem 2rem;
  background-color: rgb(0, 153, 185);
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.btn-hero:hover {
  background-color: rgb(3, 115, 144);
  color: lightgray;
}

.anchor-hero {
  text-decoration: none;
  color: #ffffff;
}

.anchor-hero:hover {
  text-decoration: none;
  color: #ffffff;
}

/* about us */
.us {
  height: 100vh;
}

.conteiner-animation {
  perspective: 800px;
}

.flask {
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
}

.flask:hover {
  transform: rotateY(45deg);
}

.paragraph-us {
  font-family: "Roboto";
  font-size: 1.125rem;
  line-height: 1.5em;
}

/* Form */

#form {
  height: 100vh;
}

/* copyright */
.copyright {
  height: 4rem;
  background-color: rgb(0, 153, 185);
  color: #ffffff;
  font-size: 1.3rem;
}
